In [14]:
import pandas as pd
import torch.nn as nn
import torch
one_hot_encoded_df= pd.read_csv("")
n_letters = one_hot_encoded_df.shape[1]

,id,keyword,location,text,target
5329,7608,pandemonium,NaN,Proud of you @JoeGoodmanJr for watching the #C...,0
5330,7609,pandemonium,NaN,Pandemonium In Aba As Woman Delivers Baby With...,0
5331,7610,pandemonium,??????,#Pandemonium.iso psp http://t.co/HbpNFOAwII,0
5332,7611,pandemonium,The P (South Philly),Pandemonium use to be my fav cd ?? I had to ge...,1
5333,7612,pandemonium,"VONT ISLAND, LAGOS",Pandemonium In Aba As Woman Delivers Baby With...,0
...,...,...,...,...,...
7607,10867,NaN,NaN,#stormchase Violent Record Breaking EF-5 El Re...,1
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1

In [19]:
import numpy as np
import pandas as pd

# Assuming df is your DataFrame containing the tweets
# Create the vocabulary
vocabulary = np.array([])
for i in range(len(df.index)):
    words = df['text'].iloc[i].split()  
    vocabulary = np.append(vocabulary, np.unique(words))  
    vocabulary = np.unique(vocabulary)

# Create a dictionary to map each word to an index
word_to_index = {word: idx for idx, word in enumerate(vocabulary)}

# Function to one-hot encode a tweet
def one_hot_encode(tweet, vocab_size):
    one_hot_vector = np.zeros(vocab_size)
    for word in tweet.split():
        if word in word_to_index:
            index = word_to_index[word]
            one_hot_vector[index] = 1
    return one_hot_vector

# Apply the one-hot encoding to each tweet
one_hot_encoded_tweets = np.array([one_hot_encode(tweet, len(vocabulary)) for tweet in df['text']])

# Convert to DataFrame for better readability (optional)
one_hot_encoded_df = pd.DataFrame(one_hot_encoded_tweets, columns=vocabulary)
# one_hot_encoded_df = one_hot_encoded_df.assign(category=df.target.to_list())
print(one_hot_encoded_df)

        !   !!  !!!  !!!!  !!!!!  !!!!!!!!!!!#MetroFmTalk  !The    #  ##book  \
0     0.0  0.0  0.0   0.0    0.0                      0.0   0.0  0.0     0.0
1     0.0  0.0  0.0   0.0    0.0                      0.0   0.0  0.0     0.0
2     0.0  0.0  0.0   0.0    0.0                      0.0   0.0  0.0     0.0
3     0.0  0.0  0.0   0.0    0.0                      0.0   0.0  0.0     0.0
4     0.0  0.0  0.0   0.0    0.0                      0.0   0.0  0.0     0.0
...   ...  ...  ...   ...    ...                      ...   ...  ...     ...
7608  0.0  0.0  0.0   0.0    0.0                      0.0   0.0  0.0     0.0
7609  0.0  0.0  0.0   0.0    0.0                      0.0   0.0  0.0     0.0
7610  0.0  0.0  0.0   0.0    0.0                      0.0   0.0  0.0     0.0
7611  0.0  0.0  0.0   0.0    0.0                      0.0   0.0  0.0     0.0
7612  0.0  0.0  0.0   0.0    0.0                      0.0   0.0  0.0     0.0

      ##fukushima  ...  å£9!  å¤}   å¨  å©Daniel  å¬'Only   åÇ   åÈ  \
0             0.0  ...   0.0  0.0  0.0       0.0      0.0  0.0  0.0
1             0.0  ...   0.0  0.0  0.0       0.0      0.0  0.0  0.0
2             0.0  ...   0.0  0.0  0.0       0.0      0.0  0.0  0.0
3             0.0  ...   0.0  0.0  0.0       0.0      0.0  0.0  0.0
4             0.0  ...   0.0  0.0  0.0       0.0      0.0  0.0  0.0
...           ...  ...   ...  ...  ...       ...      ...  ...  ...
7608          0.0  ...   0.0  0.0  0.0       0.0      0.0  0.0  0.0
7609          0.0  ...   0.0  0.0  0.0       0.0      0.0  0.0  0.0
7610          0.0  ...   0.0  0.0  0.0       0.0      0.0  0.0  0.0
7611          0.0  ...   0.0  0.0  0.0       0.0      0.0  0.0  0.0
7612          0.0  ...   0.0  0.0  0.0       0.0      0.0  0.0  0.0

      åÈMGN-AFRICAå¨   åÊ  åÊFedEx
0                0.0  0.0      0.0
1                0.0  0.0      0.0
2                0.0  0.0      0.0
3                0.0  0.0      0.0
4                0.0  0.0      0.0
...              ...  ...      ...
7608             0.0  0.0      0.0
7609             0.0  0.0      0.0
7610             0.0  0.0      0.0
7611             0.0  0.0      0.0
7612             0.0  0.0      0.0

[7613 rows x 31924 columns]

In [25]:
# df.index
n_letters = one_hot_encoded_df.shape[1]
n_letters

31924

In [30]:
def categoryFromOutput(output):
    top_n, top_i = output.topk(1)
    category_i = top_i[0].item()
    return all_categories[category_i], category_i

In [32]:
def predict(category_tensor, line_tensor):
    hidden = rnn.initHidden()
    rnn.zero_grad()

    for i in range(line_tensor.size()[0]):
        output, hidden = rnn(line_tensor[i], hidden)
    
    guess, guess_i = categoryFromOutput(output)
    
    return guess

In [28]:


df = pd.read_csv('train.csv')
df_train = df.iloc[0:5329]
df_test = df.iloc[5329:-1]
df_test, df_train

# or an array of one-hot letter vectors
def lineToTensor(line):
    line = line.split()
    tensor = torch.zeros(len(line), 1, n_letters)
    for li, letter in enumerate(line):
        tensor[li][0][letterToIndex(letter)] = 1
    return tensor

# def randomTrainingExampleTest():
#     category = randomChoice(all_categories)
#     line = randomChoice(df_test[df_test.target==category].index)
#     category_tensor = torch.tensor([all_categories.index(category)], dtype=torch.long)
#     line_tensor = lineToTensor(df_test.text.iloc[line])
#     return category, line, category_tensor, line_tensor

# randomTrainingExampleTest()

lineToTensor(df_test.text.iloc[0])

for i in range():
    output, hidden = rnn(line_tensor[i], hidden)
    
    
    # predict()

tensor([[[0., 0., 0.,  ..., 0., 0., 0.]],

        [[0., 0., 0.,  ..., 0., 0., 0.]],

        [[0., 0., 0.,  ..., 0., 0., 0.]],

        ...,

        [[0., 0., 0.,  ..., 0., 0., 0.]],

        [[0., 0., 0.,  ..., 0., 0., 0.]],

        [[0., 0., 0.,  ..., 0., 0., 0.]]])

In [27]:
def letterToIndex(letter):
    return one_hot_encoded_df.columns.get_loc(letter)

In [4]:
# or an array of one-hot letter vectors

def lineToTensor(line):
    line = line.split()
    tensor = torch.zeros(len(line), 1, n_letters)
    for li, letter in enumerate(line):
        tensor[li][0][letterToIndex(letter)] = 1
    return tensor

In [8]:
all_categories = [1,0]

In [9]:
import random

def randomChoice(l):
    return l[random.randint(0, len(l) - 1)]

def randomTrainingExample():
    category = randomChoice(all_categories)
    line = randomChoice(df[df.target==category].index)
    category_tensor = torch.tensor([all_categories.index(category)], dtype=torch.long)
    line_tensor = lineToTensor(df.text.iloc[line])
    return category, line, category_tensor, line_tensor

randomChoice(all_categories)

randomChoice(df[df.target==1].index)

randomTrainingExample()

AttributeError: 'DataFrame' object has no attribute 'target'

In [ ]:
import sklearn.model_selection.train_test_split as train_test_split